<!DOCTYPE html>
<html>
  <head>
    <title>Blackj</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>WORKS</h1>
    <h2>@Model.GetRunningTotal()</h2>

    <h4>If statement</h4>
    @if (Model.GetTrueCount() >4)
    {
      <p>You can double your bet.</p>
    }
  </body>
</html>