<!DOCTYPE html>
<html>
  <head>
    <title>Score</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Score</h1>
    <h2>@Model.GetRunningTotal()</h2>
  </body>
</html>